<h1>New Entry</h1>

<%= form_for :entry, url: {action: "create"} do |f| %>
<p>
  <%= f.label :english %><br>
  <%= f.text_field :english %>
</p>

<p>
  <%= f.label :japanese %><br>
  <%= f.text_field :japanese %>
</p>

<p><%= f.submit %></p>
<% end %>
