<h1>New List</h1>

<h2>Create an empty list</h2>
<%= form_for :list, url: {action: "create"} do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p><%= f.submit %></p>
<% end %>


<h2>Upload a CSV file</h2>
<%= form_for :list, url: {action: "upload"} do |f| %>
<p>
  <%= f.file_field :csv_file %>

  <p><%= f.submit %></p>
</p>
<% end %>
